<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" >
        <ion-icon name="chevron-back"></ion-icon>Close
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding text-center">
      Send Push Notification
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="addPush()" class="ion-padding-top">
    <ion-input
      counter="true"
      label="Push Text"
      labelPlacement="floating"
      placeholder="push text..."
      formControlName="pushText"
      clearInput="true"
      autofocus
    ></ion-input>
    <div class="error-container">
      <ng-container *ngFor="let validation of formValidators.pushText">
        <div class="error-message"
          *ngIf="form.get('pushText').hasError(validation.type) && (form.get('pushText').dirty || form.get('pushText').touched)">
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item class="input-item ion-padding-top" *ngIf="roleName==='Director'">
      <ion-label color="tertiary">Push to ALL TEAMS</ion-label>
      <ion-checkbox color="tertiary" formControlName="bAllJobTeams"></ion-checkbox>
    </ion-item>


    <ion-button class="reset-password-btn ion-margin-top" type="submit" expand="block" [disabled]="!form.valid">Submit</ion-button>
  </form>
</ion-content>