<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-list-header>
              <ion-label size="small" color="primary">TSIC-TEAMS</ion-label>
            </ion-list-header>
            <ion-item
              *ngFor="let p of tsicMenuLinks; let i = index"
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon
                slot="start"
                [name]="isIOS ? p.icon + '-outline' : p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-list>
          <ion-list lines="none">
            <ion-item>
              <p>App Version: {{ appVersion }}</p>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"> </ion-router-outlet>
  </ion-split-pane>

</ion-app>
