<ion-toolbar color="light">
  <ion-buttons slot="end">
    <ion-button (click)="openModal()" color="primary">
      <ion-icon size="large" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title *ngIf="userData" class="ion-padding ion-text-center">Team Links
  </ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let link of items">
      <ion-item-options side="end" *ngIf="canDelete(link)">
        <ion-item-option color="warning" (click)="deleteLink(link.docId)">
          <ion-icon icon="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <ion-button size="small" (click)="gotoLink(link.docUrl)" mode="ios" expand="block"
            [color]="getButtonColor(link)">{{link.label}}</ion-button>
            <!-- <p>{{link.user}}</p> -->
            <ion-row class="user-date-row">
              <ion-col size="6">{{link.user}}</ion-col>
              <ion-col size="6" class="ion-text-right">{{link.createDate  | date:'MM/dd/yyyy h:mm a'}}</ion-col>
            </ion-row>
            </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>